
{{#each posts as |post|}}
<section>
    <ul class="posts">
        <li>
            <div class="postTitle">
                <h2>{{post.title}}</h2>
                <p>Posted by {{post.user.username}} on {{post.date_created}}</p>
            </div>
            <div>
                <p>{{post.content}}</p>
            </div>
        </li>
    </ul>
    <button>Comment</button>
</section>
{{/each}}

